# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build / cache
dist/
build/
.cache/
